<!DOCTYPE html>
<html lang="id">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<section class="login-page">

    <div class="login-box">

        <!-- ========================= -->
        <!-- FLASH MESSAGE -->
        <!-- ========================= -->

        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div
                    style="
                    background:#ef4444;
                    color:white;
                    padding:15px;
                    border-radius:10px;
                    margin-bottom:20px;
                    text-align:center;
                    ">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <!-- ========================= -->
        <!-- TITLE -->
        <!-- ========================= -->

        <h1>
            Create Account
        </h1>

        <p
        style="
        text-align:center;
        margin-bottom:30px;
        color:#94a3b8;
        ">

            Daftar akun marketplace digital kamu

        </p>

        <!-- ========================= -->
        <!-- FORM -->
        <!-- ========================= -->

        <form method="POST">

            <!-- USERNAME -->

            <input
            type="text"
            name="username"
            placeholder="Masukkan Username"
            required>

            <!-- EMAIL -->

            <input
            type="email"
            name="email"
            placeholder="Masukkan Email"
            required>

            <!-- PASSWORD -->

            <input
            type="password"
            name="password"
            placeholder="Masukkan Password"
            required>

            <!-- BUTTON -->

            <button type="submit">

                Register

            </button>

        </form>

        <!-- ========================= -->
        <!-- LOGIN -->
        <!-- ========================= -->

        <p
        style="
        text-align:center;
        margin-top:25px;
        ">

            Sudah punya akun?

            <a href="/login"
            style="
            color:#38bdf8;
            text-decoration:none;
            font-weight:bold;
            ">

                Login

            </a>

        </p>

    </div>

</section>

</body>
</html>